<!DOCTYPE html>
<html>
{% include 'organization/inc/head.html' %}
{% block add_css_js %}{% endblock %}
<body>
{% include 'organization/inc/navigation.html' %}
{% block content %}
{% endblock %}
</body>
</html>