{% extends "registration/base.html" %}

{% block content %}

    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="form-block login-form">
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            <form method="post" action="{% url 'login' %}" class="form-horizontal" role="form">
                <legend>Авторизация</legend>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.html_name }}" class="col-sm-3 col-md-3 control-label">{{ field.label }}</label>
                        <div class="col-sm-8 col-md-8">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-1">
                        <a class="password_reset_btn" href="{% url 'password_reset' %}">Восстановление пароля</a>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <button type="submit" class="btn btn-default btn-block btn-primary">Войти</button>
                    </div>
                </div>
            </form>
            <div class="reg_block row">
                <a href="{% url 'registration' %}">Регистрация</a>
            </div>
        </div>
    </div>

{% endblock %}