{% extends 'registration/base.html' %}

{% block content %}
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="form-block login-form">
    {% if success %}
        <h1>Вы успешно зарегистрировались!</h1>
{#        <p>После активации вашего акканута администратором, вы сможете продолжить работу в системе.</p>#}
    {% else %}

        <form method="post" class="form-horizontal" role="form">
            <legend>Регистрация</legend>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.html_name }}" class="col-sm-4 col-md-4 control-label">{{ field.label }}</label>
                    <div class="col-sm-7 col-md-7">
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <span class="help-block">{{ error|escape }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <hr/>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}