<head lang="ru">
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--for mobile devices-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->

    <title>АСДО</title>
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-select.css" rel="stylesheet" media="screen">
    <script src="{{ STATIC_URL }}js/jquery.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}js/base.js" type="text/javascript"></script>
{#    {% if user_grpoup.pk == 1 %}#}
{#        <script src="{{ STATIC_URL }}js/student_nav.js" type="text/javascript"></script>#}
{#    {% else %}#}
        <script src="{{ STATIC_URL }}js/nav.js" type="text/javascript"></script>
{#    {% endif %}#}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.plugin.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.countdown-ru.js"></script>


</head>